table {
    margin: 0 20px 20px;
    border-collapse: collapse;
    font-size: large;
    border: 2px solid brown;
}
th, td {
    padding: 10px 15px;
    border: 2px solid brown;
}
td:first-child, th:first-child {
    border-left: none;
}
thead {
    background-color: rgba(165,42,42,0.25);
}
tbody tr:active{
    background-color: #ababab !important;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
tbody tr:first-child td {
    font-weight: bold;
}
tbody tr td:last-child {
    text-align: center;
}
thead tr th:first-child {
    width: 25%;
}
thead tr th:last-child {
    width: 25%;
}
p {
    margin-top: 0;
}
.center {
    text-align: center;
    vertical-align: middle;
}